/* #### COLOR PALETTE & VARIABLES #### */
/* #### CONFIGURATION #### */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
  transition: all 300ms ease-in-out;
}
a, a:link, a:visited {
  color: rgba(235, 235, 245, 0.6);
}
a:hover, a:focus, a:active {
  color: rgba(167, 167, 211, 0.6);
}

img, picture, video, canvas, svg {
  max-width: 100%;
  display: block;
}

img {
  width: 100%;
}

input, button, textarea, select {
  font: inherit;
  outline: 0;
}

h1, h2, h3, h4, h5, h6, p {
  overflow-wrap: break-word;
}

textarea {
  resize: none;
}

button {
  background-color: transparent;
  border: none;
}

img, object, embed, video {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.text-magnolia-light {
  color: rgba(235, 235, 245, 0.6);
}

.text-white {
  color: #ffffff;
}

.text-dark-green {
  color: #38571a;
}

.bg-secondary {
  background-color: #0061fd;
}

.bg-primary-light {
  background-color: #2f2f2f;
}

.bg-pistachio {
  background-color: #b1dd8b;
}

.object-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.no-wrap {
  white-space: nowrap;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

p {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 0;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  margin-top: 12px;
}

.text-sm {
  font-size: 14px;
}

.text-base {
  font-size: 16px;
}

.text-lg {
  font-size: 20px;
}

.text-xl {
  font-size: 24px;
}

@media (max-width: 991.98px) {
  .text-sm {
    font-size: 12px;
  }
  .text-base {
    font-size: 14px;
  }
  .text-lg {
    font-size: 16px;
  }
  .text-xl {
    font-size: 20px;
  }
}
@media (min-width: 576px) {
  .text-base {
    font-size: 12px;
  }
  .text-lg {
    font-size: 14px;
  }
  .text-xl {
    font-size: 16px;
  }
}
.page-wrapper {
  overflow: hidden !important;
  background-color: #141414;
  min-height: 100vh;
}

.sidenav-menu {
  padding: 60px 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 999;
  width: 240px;
  height: 200%;
  background-color: #141414;
  transition: all 300ms ease-in-out;
}
.sidenav-menu::after {
  content: "";
  position: absolute;
  top: 24px;
  right: 0;
  bottom: 24px;
  z-index: 999;
  width: 1px;
  height: auto;
  background-color: #38383a;
}
.sidenav-menu .sidenav-brand {
  display: flex;
  align-items: center;
}
.sidenav-menu .sidenav-brand-icon {
  width: 32px;
  margin-right: 8px;
}
.sidenav-menu .sidenav-brand-name {
  background: -webkit-linear-gradient(90deg, rgba(0, 97, 253, 0.8) 0%, #bcd6ff 89.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 20px;
}
.sidenav-menu .menu-list, .sidenav-menu .menu-list-2 {
  width: 100%;
  margin-top: 55px;
}
@media (max-width: 991.98px) {
  .sidenav-menu .menu-list, .sidenav-menu .menu-list-2 {
    margin-top: 40px;
  }
}
@media (max-width: 575.98px) {
  .sidenav-menu .menu-list, .sidenav-menu .menu-list-2 {
    margin-top: 20px;
  }
}
.sidenav-menu .menu-list .menu-item, .sidenav-menu .menu-list-2 .menu-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding-left: 36px;
  margin-bottom: 16px;
}
@media (max-width: 575.98px) {
  .sidenav-menu .menu-list .menu-item, .sidenav-menu .menu-list-2 .menu-item {
    margin-bottom: 12px;
  }
}
.sidenav-menu .menu-list .menu-item:last-child, .sidenav-menu .menu-list-2 .menu-item:last-child {
  margin-bottom: 0;
}
.sidenav-menu .menu-list .menu-item-icon, .sidenav-menu .menu-list-2 .menu-item-icon {
  display: inline-block;
  width: 24px;
  margin-right: 12px;
}
.sidenav-menu .menu-list .menu-item-text, .sidenav-menu .menu-list-2 .menu-item-text, .sidenav-menu .menu-list-2 .user-item-name {
  color: rgba(235, 235, 245, 0.6);
  letter-spacing: 1px;
  text-transform: uppercase;
}
.sidenav-menu .menu-list .menu-item-active, .sidenav-menu .menu-list-2 .menu-item-active, .sidenav-menu .menu-list .menu-item:hover, .sidenav-menu .menu-list-2 .menu-item:hover {
  background-color: #2f2f2f;
  border-radius: 12px;
}
.sidenav-menu .menu-list .menu-item-active .menu-item-text, .sidenav-menu .menu-list .menu-item-active .menu-list-2 .user-item-name, .sidenav-menu .menu-list-2 .menu-item-active .menu-item-text, .sidenav-menu .menu-list-2 .menu-item-active .user-item-name, .sidenav-menu .menu-list .menu-item:hover .menu-item-text, .sidenav-menu .menu-list .menu-item:hover .menu-list-2 .user-item-name, .sidenav-menu .menu-list-2 .menu-item:hover .menu-item-text, .sidenav-menu .menu-list-2 .menu-item:hover .user-item-name {
  color: #ffffff;
}
.sidenav-menu .menu-list .menu-item-active .menu-item-icon img, .sidenav-menu .menu-list-2 .menu-item-active .menu-item-icon img, .sidenav-menu .menu-list .menu-item:hover .menu-item-icon img, .sidenav-menu .menu-list-2 .menu-item:hover .menu-item-icon img {
  filter: brightness(0) invert(1);
}
.sidenav-menu .menu-list-2 .user-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  padding-left: 36px;
}
.sidenav-menu .menu-list-2 .user-item-img {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-right: 12px;
  position: relative;
}
.sidenav-menu .menu-list-2 .user-item-img img {
  border-radius: 100%;
}
.sidenav-menu .menu-list-2 .user-item-img::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 6px;
  height: 6px;
  background-color: #32d74b;
  border-radius: 100%;
}
.sidenav-menu .menu-list-2 .user-item-active, .sidenav-menu .menu-list-2 .user-item:hover {
  background-color: #2f2f2f;
  border-radius: 12px;
}
.sidenav-menu .menu-list-2 .user-item-active .user-item-name, .sidenav-menu .menu-list-2 .user-item:hover .user-item-name {
  color: #ffffff;
}
.sidenav-menu.sidenav-menu-hide {
  transform: translateX(-100%);
}
@media (max-width: 991.98px) {
  .sidenav-menu {
    width: 80px;
  }
  .sidenav-menu .sidenav-brand {
    width: 100%;
  }
  .sidenav-menu .sidenav-brand-name {
    display: none;
    visibility: hidden;
  }
}/*# sourceMappingURL=main.css.map */